.home{
    color: rgb(32, 32, 32);
    display: flex;
    flex-direction: column;
    button{
        
        flex:1;
        padding: 10px 30px;
    }
    .text{
        width: 70%;
        padding-top: 20px;
        // align-self: center;
        border: 5px solid rgba(47, 79, 79, 0.212);
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
        min-height: 70vh;
    }

}